Repository blitzy-public-samples/hello-world2-0r6b4x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-owner1, @global-owner2, @frontend-team, @typescript-reviewers, @test-reviewers, @devops-team, @code-quality-team

.github/CODEOWNERS:

* @global-owner1 @global-owner2

# Frontend application code ownership
/src/web/ @frontend-team
/src/web/**/*.{ts,tsx} @typescript-reviewers
/src/web/**/*.test.{ts,tsx} @test-reviewers

# Infrastructure and deployment configuration ownership
/infrastructure/ @devops-team

# CI/CD workflow configuration ownership
/.github/workflows/ @devops-team

# Build and environment configuration ownership
/config/ @devops-team @frontend-team

# TypeScript files anywhere in the repository
*.ts *.tsx @typescript-reviewers

# Package management and dependencies
package.json package-lock.json @dependency-reviewers

# TypeScript configuration
tsconfig.json @typescript-reviewers @frontend-team

# Code quality configuration
.eslintrc* @code-quality-team

# Documentation ownership
README.md CONTRIBUTING.md @docs-team

﻿docs: correct the assessment's evidence defects and broaden the README guarantee
  README.md
  documentation/Enterprise Adoption Readiness Assessment.md
Owners: @global-owner1, @global-owner2

docs(assessment): strengthen runtime and supply-chain evidence
  documentation/Enterprise Adoption Readiness Assessment.md
Owners: @global-owner1, @global-owner2

docs(assessment): correct the W5 CI citation to distinguish lint from build
  documentation/Enterprise Adoption Readiness Assessment.md
Owners: @global-owner1, @global-owner2

Adding Blitzy Project Guide: Project Status and Human Tasks Remaining
  blitzy/documentation/Project Guide.md
Owners: @global-owner1, @global-owner2

docs: re-baseline the enterprise adoption readiness assessment and add a Dependabot hardening step
  documentation/Enterprise Adoption Readiness Assessment.md
Owners: @global-owner1, @global-owner2

docs(assessment): correct evidence defects and make provenance claims consistent
  documentation/Enterprise Adoption Readiness Assessment.md
Owners: @global-owner1, @global-owner2

docs(assessment): withdraw the false Dependabot branch evidence and re-execute it
  documentation/Enterprise Adoption Readiness Assessment.md
Owners: @global-owner1, @global-owner2

docs(assessment): attribute each git error message to the command that emits it
  documentation/Enterprise Adoption Readiness Assessment.md
Owners: @global-owner1, @global-owner2

Adding Blitzy Project Guide: Project Status and Human Tasks Remaining
  blitzy/documentation/Project Guide.md
Owners: @global-owner1, @global-owner2

chore(setup): repair src/web test/build toolchain dependency manifest
  src/web/package.json
Owners: @frontend-team

build(web): commit reproducible npm lockfile for the web package
  src/web/package-lock.json
Owners: @frontend-team

fix(web): parse testUtils JSX via .tsx extension and track the web lock file
  .gitignore
  src/web/src/utils/testUtils.tsx
Owners: @global-owner1, @global-owner2, @frontend-team

fix(web): resolve setupTests import of testUtils from the src root
  src/web/src/setupTests.ts
Owners: @frontend-team

test(web): cover the isTheme type guard and the renderWithProviders helper
  src/web/src/styles/theme.test.ts
  src/web/src/utils/testUtils.test.ts
Owners: @frontend-team

build(web): narrow test-toolchain devDependencies and relock for Node 16
  src/web/package-lock.json
  src/web/package.json
Owners: @frontend-team

refine web unit-test comments and regenerate the lockfile without vulnerable versions
  src/web/package-lock.json
  src/web/src/styles/theme.test.ts
  src/web/src/utils/testUtils.test.ts
Owners: @frontend-team

fix(web): restore the Node 16 lockfile contract and reflow the render-helper suite
  src/web/package-lock.json
  src/web/src/utils/testUtils.test.ts
Owners: @frontend-team

Adding Blitzy Project Guide: Project Status and Human Tasks Remaining
  blitzy/documentation/Project Guide.md
Owners: @global-owner1, @global-owner2

fix(terraform): add web_acl_arn inputs for CloudFront WAF association
  infrastructure/terraform/modules/static-hosting/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team

fix(terraform): route CloudFront traffic through the WAF web ACL
  infrastructure/terraform/main.tf
  infrastructure/terraform/modules/static-hosting/main.tf
Owners: @devops-team

fix(terraform): supply the production WAF ACL ARN to the root module
  infrastructure/terraform/environments/prod/main.tf
Owners: @devops-team

style(terraform): align the CloudFront WAF argument and drop redundant comments
  infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/modules/static-hosting/main.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team

docs(terraform): restore the WAF association header comments at both stripped sites
  infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team

docs(terraform): document the two WAF wiring sites with durable constraints
  infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team

feat(terraform): guard both web_acl_arn inputs with a null-tolerant ARN check
  infrastructure/terraform/modules/static-hosting/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team

fix(terraform): drop the extra-scope web_acl_arn validation blocks
  infrastructure/terraform/modules/static-hosting/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team

Adding Blitzy Project Guide: Project Status and Human Tasks Remaining
  blitzy/documentation/Project Guide.md
Owners: @global-owner1, @global-owner2
