Repository blitzy-public-samples/hello-world2-0r6b4x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-owner1, @global-owner2, @frontend-team, @typescript-reviewers, @test-reviewers, @devops-team, @code-quality-team

Add public-samples/hello-world2-0r6b4x/.github/dependabot.yml
  .github/dependabot.yml
Owners: @global-owner1, @global-owner2

Add public-samples/hello-world2-0r6b4x/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @global-owner1, @global-owner2

Add public-samples/hello-world2-0r6b4x/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @global-owner1, @global-owner2

Add public-samples/hello-world2-0r6b4x/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @global-owner1, @global-owner2

Add public-samples/hello-world2-0r6b4x/.github/workflows/build.yml
  .github/workflows/build.yml
Owners: @devops-team

Add public-samples/hello-world2-0r6b4x/.github/workflows/deploy.yml
  .github/workflows/deploy.yml
Owners: @devops-team

Add public-samples/hello-world2-0r6b4x/.github/workflows/test.yml
  .github/workflows/test.yml
Owners: @devops-team

Add public-samples/hello-world2-0r6b4x/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @global-owner1, @global-owner2

Add public-samples/hello-world2-0r6b4x/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @global-owner1, @global-owner2

Add public-samples/hello-world2-0r6b4x/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @global-owner1, @global-owner2

Add public-samples/hello-world2-0r6b4x/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @global-owner1, @global-owner2

Add public-samples/hello-world2-0r6b4x/infrastructure/docker/.dockerignore
  infrastructure/docker/.dockerignore
Owners: @devops-team

Add public-samples/hello-world2-0r6b4x/infrastructure/docker/Dockerfile
  infrastructure/docker/Dockerfile
Owners: @devops-team

Add public-samples/hello-world2-0r6b4x/infrastructure/docker/docker-compose.yml
  infrastructure/docker/docker-compose.yml
Owners: @devops-team

Add public-samples/hello-world2-0r6b4x/infrastructure/docker/nginx.conf
  infrastructure/docker/nginx.conf
Owners: @devops-team

Add public-samples/hello-world2-0r6b4x/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team

Add public-samples/hello-world2-0r6b4x/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team

Add public-samples/hello-world2-0r6b4x/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @devops-team

Add public-samples/hello-world2-0r6b4x/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team

Add public-samples/hello-world2-0r6b4x/infrastructure/terraform/versions.tf
  infrastructure/terraform/versions.tf
Owners: @devops-team

Add public-samples/hello-world2-0r6b4x/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @devops-team

Add public-samples/hello-world2-0r6b4x/infrastructure/terraform/environments/dev/terraform.tfvars
  infrastructure/terraform/environments/dev/terraform.tfvars
Owners: @devops-team

Add public-samples/hello-world2-0r6b4x/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @devops-team

Add public-samples/hello-world2-0r6b4x/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @devops-team

Add public-samples/hello-world2-0r6b4x/infrastructure/terraform/modules/cdn/main.tf
  infrastructure/terraform/modules/cdn/main.tf
Owners: @devops-team

Add public-samples/hello-world2-0r6b4x/infrastructure/terraform/modules/cdn/outputs.tf
  infrastructure/terraform/modules/cdn/outputs.tf
Owners: @devops-team

Add public-samples/hello-world2-0r6b4x/infrastructure/terraform/modules/cdn/variables.tf
  infrastructure/terraform/modules/cdn/variables.tf
Owners: @devops-team

Add public-samples/hello-world2-0r6b4x/infrastructure/terraform/modules/static-hosting/main.tf
  infrastructure/terraform/modules/static-hosting/main.tf
Owners: @devops-team

Add public-samples/hello-world2-0r6b4x/infrastructure/terraform/modules/static-hosting/outputs.tf
  infrastructure/terraform/modules/static-hosting/outputs.tf
Owners: @devops-team

Add public-samples/hello-world2-0r6b4x/infrastructure/terraform/modules/static-hosting/variables.tf
  infrastructure/terraform/modules/static-hosting/variables.tf
Owners: @devops-team

Add public-samples/hello-world2-0r6b4x/src/web/.eslintignore
  src/web/.eslintignore
Owners: @frontend-team

Add public-samples/hello-world2-0r6b4x/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @code-quality-team

Add public-samples/hello-world2-0r6b4x/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team

Add public-samples/hello-world2-0r6b4x/src/web/README.md
  src/web/README.md
Owners: @frontend-team

Add public-samples/hello-world2-0r6b4x/src/web/babel.config.ts
  src/web/babel.config.ts
Owners: @frontend-team

Add public-samples/hello-world2-0r6b4x/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team

Add public-samples/hello-world2-0r6b4x/src/web/package.json
  src/web/package.json
Owners: @frontend-team

Add public-samples/hello-world2-0r6b4x/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @typescript-reviewers, @frontend-team

Add public-samples/hello-world2-0r6b4x/src/web/webpack.config.ts
  src/web/webpack.config.ts
Owners: @frontend-team

Add public-samples/hello-world2-0r6b4x/src/web/public/favicon.ico
  src/web/public/favicon.ico
Owners: @frontend-team

.github/CODEOWNERS:

* @global-owner1 @global-owner2

# Frontend application code ownership
/src/web/ @frontend-team
/src/web/**/*.{ts,tsx} @typescript-reviewers
/src/web/**/*.test.{ts,tsx} @test-reviewers

# Infrastructure and deployment configuration ownership
/infrastructure/ @devops-team

# CI/CD workflow configuration ownership
/.github/workflows/ @devops-team

# Build and environment configuration ownership
/config/ @devops-team @frontend-team

# TypeScript files anywhere in the repository
*.ts *.tsx @typescript-reviewers

# Package management and dependencies
package.json package-lock.json @dependency-reviewers

# TypeScript configuration
tsconfig.json @typescript-reviewers @frontend-team

# Code quality configuration
.eslintrc* @code-quality-team

# Documentation ownership
README.md CONTRIBUTING.md @docs-team
